process.container = 'nextflow/bash'
process.containerOptions = '  --net=host --rm  -u $(id -u):$(id -g)'

docker {
    enabled = true
}

process.executor = 'local'

profiles {
    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.clusterOptions = '-S /bin/bash '
    }

}
