
docker {
    enabled = true
}

plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
  container = 'quay.io/nextflow/bash'
}

workDir = 'az://hellopipeline/work'

azure {
  batch {
    location = 'eastus2'
    accountName = ''
    accountKey = ''
    allowPoolCreation = true //Nextflow automatically creates a pool of computing nodes to execute the jobs
    autoPoolMode = true
    deletePoolsOnCompletion = true //The pool is removed when the pipeline execution terminates

     pools {
        auto { //auto pool configuration scope
            autoScale = true
            vmType = 'Standard_DS1_v2'
            vmCount = 1
            maxVmCount = 10
        }
    }
  }
  storage {
    accountName = ''
    accountKey = ''
  }
}