process.container = 'nextflow/bash:latest'
process.containerOptions = '  --net=host --rm  -u $(id -u):$(id -g)'

docker {
    enabled = false
}

plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
}

azure {
  batch {
    location = ''
    accountName = ''
    accountKey = ''
    allowPoolCreation = true //Nextflow automatically creates a pool of computing nodes to execute the jobs
    autoPoolMode = true
    deletePoolsOnCompletion = true //The pool is removed when the pipeline execution terminates
    pools {
        auto { //auto pool configuration scope
            autoScale = true
            vmType = 'Standard_DS1_v2'
            vmCount = 1
            maxVmCount = 10
        }
    }
  }
  storage {
    accountName = ''
    accountKey = ''
  }
}